@import "tailwindcss";

@theme {
  --color-primary: #ec2513;
  --color-background-light: #f8f6f6;
  --color-background-dark: #221210;
  --color-surface-dark: #2a1a18;
  --font-display: "Work Sans", sans-serif;
  --radius: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}